<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecode's Blogs | <%= title %></title>
</head>
<body>
    <nav>
        <div>
            <a href="/">Ecode's Blog</a>
            <p>A NodeJS Course on building a blog</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div>
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fugit, nihil possimus illo explicabo quos unde deserunt reprehenderit, porro vero veritatis facilis nesciunt repudiandae quaerat, placeat veniam quod! Nihil, saepe. <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus magnam excepturi dicta, quos enim quibusdam velit ipsum dolorem distinctio aliquam expedita accusantium qui eos adipisci nobis neque iusto! Quaerat, eaque. <br><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil reiciendis sequi accusamus dicta suscipit amet velit, doloremque nesciunt cumque! Sunt nihil facere voluptates autem! Quibusdam saepe recusandae libero aspernatur culpa.</p>
    </div>

    
</body>
</html>